<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Vehicle Tracking System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/98905b9c10.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard.css" />
</head>
<body class="hero-anime">
    <div class="navigation-wrap bg-light start-header start-style">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <nav class="navbar navbar-expand-md navbar-light">

                        <a class="navbar-brand" href="#" target="_blank">
                            <div class="logo-container">
                                <img src="/assets/images/logo.png" alt="">
                                <span class="logo-text">Vehicle Tracking System</span>
                            </div>
                        </a>
                        
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto py-4 py-md-0">
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="index.html">Home</a>
                                </li>
                               
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="index.html">Dashboard</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="tracking.html">Tracking</a>
                                        <a class="dropdown-item" href="routing.html">Routing</a>
                                        <a class="dropdown-item" href="index.html">Location History</a>
                                        
                                    </div>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="#">Contact</a>
                                </li>
                            </ul>

                            <div class="profile">
                                <div class="dropdown">
                                    <img src="..\assets\images\profile.png" alt="profile" class="profile-image" onclick="toggleDropdown()">
                                    <div id="registrationPopup" class="popup-content"></div>
                                    <div id="dropdownMenu" class="dropdown-content">
                                        <a href="profile.html" onclick="profile()">Profile</a>
                                        <a href="login.html" onclick="logout()">Logout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <section id="menu">
        </div>
        <div class="items">
            <li><i class="fa fa-users" aria-hidden="true"></i><a href="/templates/index.html"> Dashboard</a></li>
            <li><i class="fa fa-location-arrow" aria-hidden="true"></i><a href="/templates/tracking.html"> Route control</a></li>
        </div>
    </section>

    <div class="values">
        <div class="val-box">
            <i class="fa fa-bus" aria-hidden="true"></i>
            <div>
                <h3>54</h3>
                <span>Total Buses</span>
            </div>
        </div>
        <div class="val-box">
            <i class="fa fa-wrench" aria-hidden="true"></i>
            <div>
                <h3>2</h3>
                <span>Inactive Buses</span>
            </div>
        </div>
        <div class="val-box">
            
            <i class="fa-sharp fa-solid fa-list-check"  aria-hidden="true"></i>
            <div>
                <h3>52</h3>
                <span>Active Buses</span>
            </div>
        </div>
       
       
        <div class="outer-container">
            <div class="n1">
                <div class="search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="text" id="searchInput" placeholder="Search">

                </div>
            </div>
            <div class="add-icon">
                <i class="fa-solid fa-user-plus" aria-hidden="true"></i>
            </div>
        </div>
        
        
        

        <dir class="board">
            <table id="dataTable" width="100%">

                <thead>
                    <tr>
                        <td>Driver Name</td>
                        <td>Bus No</td>
                        <td>Status</td>
                        <td>Routes</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="people">
                            <img src="..\assets\images\profile.png" alt"profile">
                            <div class="people-de">
                                <h5>Driver name-1</h5>
                                <p>9876543210</p>
                            </div>
                        </td>
                        <td class="people-de">
                        <h5>01</h5>
                        <p>AP 26 3030</p>
                    </td>
                    <td class="active"><p>Active</p></td>

                    <td class="role">
                        <p>Gudur-vidyanagar</p>
                    </td>
                    <td class="edit"><a href="#">Edit</a></td>
                    </tr>
                    <tr>
                        <td class="people">
                            <img src="..\assets\images\profile.png" alt"p">
                            <div class="people-de">
                                <h5>Driver name-2</h5>
                                <p>8974561230</p>
                            </div>
                        </td>
                        <td class="people-de">
                        <h5>02</h5>
                        <p>AP 26 3026</p>
                    </td>
                    <td class="active"><p>Active</p></td>

                    <td class="role">
                        <p>Rapur - Vidyanagar</p>
                    </td>
                    <td class="edit"><a href="#">Edit</a></td>
                    </tr>
                    <tr>
                        <td class="people">
                            <img src="..\assets\images\profile.png" >
                            <div class="people-de">
                                <h5>Driver name-3</h5>
                                <p>8974561230</p>
                            </div>
                        </td>
                        <td class="people-de">
                        <h5>03</h5>
                        <p>AP 26 3015</p>
                    </td>
                    <td class="inactive"><p>Inactive</p></td>

                    <td class="role">
                        <p>Kota - Vidyanagar</p>
                    </td>
                    <td class="edit"><a href="#">Edit</a></td>
                    </tr>
                    <tr>
                        
                        <td class="people">
                            <img src="..\assets\images\profile.png" alt"p">
                            <div class="people-de">
                                <h5>Driver name-4</h5>
                                <p>8974561230</p>
                            </div>
                        </td>
                        <td class="people-de">
                            <h5>04</h5>
                            <p>AP 26 3002</p>
                    </td>
                    <td class="active"><p>Active</p></td>

                    <td class="role">
                        <p>Kota - Vidyanagar</p>
                    </td>
                    <td class="edit"><a href="#">Edit</a></td>
                    </tr><td class="people">
                        <img src="..\assets\images\profile.png" alt"p">
                        <div class="people-de">
                            <h5>Driver name-5</h5>
                            <p>8974561230</p>
                        </div>
                    </td>
                    <td class="people-de">
                        <h5>05</h5>
                        <p>AP 26 3002</p>
                </td>
                <td class="inactive"><p>Inactive</p></td>

                <td class="role">
                    <p>Kota - Vidyanagar</p>
                </td>
                <td class="edit"><a href="#">Edit</a></td>
                </tr>
                </tbody>
            </table>
        </dir>
        
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        (function($) { "use strict";

$(function() {
  var header = $(".start-style");
  $(window).scroll(function() {    
    var scroll = $(window).scrollTop();
  
    if (scroll >= 10) {
      header.removeClass('start-style').addClass("scroll-on");
    } else {
      header.removeClass("scroll-on").addClass('start-style');
    }
  });
});   
  
//Animation

$(document).ready(function() {
  $('body.hero-anime').removeClass('hero-anime');
});

//Menu On Hover
  
$('body').on('mouseenter mouseleave','.nav-item',function(e){
    if ($(window).width() > 750) {
      var _d=$(e.target).closest('.nav-item');_d.addClass('show');
      setTimeout(function(){
      _d[_d.is(':hover')?'addClass':'removeClass']('show');
      },1);
    }
}); 

function toggleDropdown() {
    var dropdownMenu = document.getElementById("dropdownMenu");
    dropdownMenu.classList.toggle("show");
}

window.onclick = function(event) {
    if (!event.target.matches('.profile-image')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        for (var i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
            }
        }
    }
}

function profile() {
    // Your profile function logic here
}

function logout() {
    // Your logout function logic here
}

$(document).ready(function() {
        $('#searchInput').on('keyup', function() {
            var value = $(this).val().toLowerCase();
            $('tbody tr').filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });


// Event listener for "Edit" button
$('#dataTable').on('click', '.edit a', function() {
    // Get the row data
    var $row = $(this).closest('tr');
    var rowData = {
        id: $row.attr('data-id'),
        name: $row.find('.driver-name').text(),
        phone: $row.find('.phone').text(),
        bus_number: $row.find('.bus-number').text(),
        license_plate: $row.find('.license-plate').text(),
        status: $row.find('.status').text(),
        route: $row.find('.route').text()
    };

    // Send AJAX request to the server to update the data
    $.ajax({
        url: '/update_driver', // URL of the server-side Python code
        type: 'POST',
        data: JSON.stringify(rowData),
        contentType: 'application/json',
        success: function(response) {
            console.log(response); // Log the server response
            // Update the table row with the new data (if needed)
        },
        error: function(xhr, status, error) {
            console.error(error); // Log any errors
        }
    });
});


})(jQuery); 
    </script>
</body>
</html>
